*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.title-primary{
    color: #FD6E0A ;
  }
  .btn-primary{
    color: #ffffff;
    font-weight: 700px;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A ;
  }
  .header{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right,left ;
  }
/* header and navigation style */
nav{
    display: flex;
    justify-content: space-between;
    margin: 10px 200px;
}
nav ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-left: 50px;
    
    
}
.nav-title{
font-weight: 800;
font-size: 45px;

}
/* banner style */
.banner{
    margin: 5px 200px;
    display: flex;
    align-items: center;
}
.banner-sub-title{
    font-weight: 600px;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-title{
    font-weight: 700px;
    font-size: 85px;

}
.banner-description{
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;

}

 /* main section style */
main{
    max-width: 1140px;
    margin: 0 auto;
    

}
section{
    margin-top: 130px;
}

 /* about section style */
.about{
    
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;

}
.section-title{
    font-weight: 700px;
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
    margin-bottom: 50px;
    color: #181818;
    text-align: center;


}
.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;

}
.about-info-container{
    display: flex;
    justify-content: space-between;
}
.info-title{
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* what i do */

.section-title{

}
.skill-container{
    display: flex;
    gap: 40px;
}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px #0000000f;
    border-radius: 15px;
    padding: 30px;

}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    color: #757575;

}
 
/* Resume style */
.resume-content{
    display: flex;
    gap: 50px;
    
}
.resume-content .resume-title{
    font-weight: 700;
    font-size: 30px;
    color: #474747;
    
}
.resume .title{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    
    
}
.resume .sub-title{
    color: #757575;
    font-weight: 600;
    font-size: 20px;

}
.resume-item .description{
    color: #757575;
    

}
.resume-item{
    margin: 30px;
    margin-bottom: 13px;
}
.resume-btn{
    margin-bottom: 140px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 140px;
}

/* footer start */

.footer{
    display: flex;
    gap: 105px;
    background: #FFF8F3;
    padding: 130px 200px;
    
    
}
.footer-left{

}
.footer .section-title{
    text-align: left;

}
.footer .footer-description{
    margin: 20px 20px 30px 5px;
    line-height: 30px;

}
.footer-right input[type="text"], input[type="email"], textarea{
    display: block;
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 8px 30px;
    font-size: 20px;
   
}
input{
    height: 40px;
}
.footer a{
    text-decoration: none;
    padding: 10px;
}

